@using  Kastra.Module.Article.DTO;
@model Kastra.Module.Article.Models.ArticlesModel

<section class="articles">
    @foreach(ArticleInfo article in Model.Articles)
    {
        <article class="article">
            @if(!String.IsNullOrEmpty(article.ImageUrl))
            {
                <div class="article-image">
                    <img alt="" src="@article.ImageUrl" />
                </div>
            }
            <div class="article-content">
                <header>
                    <h2>@article.Title</h2>
                </header>
                <p>
                    @Html.Raw(article.ArticleContent)
                </p>
                <footer class="align-right">
                    <span class="author">
                        @article.AuthorName
                    </span>
                    <span>
                        @article.CreatedAt.ToString("dd MMM yyyy")
                    </span>
                </footer>
            </div>
        </article>
    }

    <div class="pagination">
        @if(Model.PageIndex > 0)
        {
            <a asp-action=@Model.PageName asp-route-pageindex=@(Model.PageIndex-1)><span class="ion-ios-arrow-back"></span></a>
        }
        
        @if(Model.PageSize > 0 && Model.PageTotal > 0 && (Model.PageTotal/Model.PageSize) > Model.PageIndex)
        {
            <a asp-action=@Model.PageName asp-route-pageindex=@(Model.PageIndex+1)><span class="ion-ios-arrow-forward"></span></a>
        }
    </div>
</section>



